.gradle
.idea

buildSrc/.gradle
buildSrc/build

!paper/run/config/paper-world-defaults.yml
!paper/run/config/paper-global.yml
!paper/run/server.properties
!paper/run/bukkit.yml
!paper/run/spigot.yml
!paper/run/eula.txt
!paper/run/ops.json
paper/.gradle
paper/build

api/.gradle
api/build